#main-layout {
    display: flex;
    gap: 20px;
}

#simulation-panel {
    flex: 2;
}

#container {
    width: 100%;
    height: 90vh;
    border: 3px solid black;
    display: block;
    margin: 20px auto;
}

#control-panel {
    flex: 3;
    border: 3px solid black;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.25);
}

.simulation-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#pause-play-button,
#sim-speed-button {
    padding: 14px 24px;
    font-size: 2rem;
    cursor: pointer;
}

.state-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.state-control {
    display: grid;
    grid-template-columns: 140px 200px 80px 40px;
    margin: 15px auto;
    width: fit-content;
}